apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: {{ elasticsearch_image }}
        ports:
        - containerPort: {{ elasticsearch_port }}
        volumeMounts:
        - name: elasticsearch-config
          mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
          subPath: elasticsearch.yml
        env:
        - name: discovery.type
          value: single-node
      volumes:
      - name: elasticsearch-config
        configMap:
          name: elasticsearch-config

