apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: {{ namespace }}
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: log
      enabled: true
      paths:
        - /var/log/*.log
    output.logstash:
      hosts: ["logstash-service.{{ namespace }}.svc.cluster.local:{{ logstash_port }}"]

