apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: {{ namespace }}
data:
  kibana.yml: |
    server.host: "0.0.0.0"
    elasticsearch.hosts: ["http://elasticsearch-service.{{ namespace }}.svc.cluster.local:{{ elasticsearch_port }}"]

